@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#root-menu-outside {
  @apply flex flex-col divide-y relative z-20;
  @apply transition-[width] ease-linear duration-1000;
  @apply w-64 block bg-black dark:bg-white;
  @apply text-white dark:text-black;
  @apply max-md:absolute max-md:w-[60vw] max-md:h-screen;
}

#root-menu-outside li > * {
  @apply p-4 w-full flex items-center font-bold before:content-['\00a0'];
  @apply hover:bg-indigo-700 dark:hover:bg-sky-400;
}

#root:has(
    input[type="radio"][name="root-menu-header"][value="close"]:checked
  )
  #root-menu-click-outside {
  @apply hidden;
}

#root:has(
    input[type="radio"][name="root-menu-header"][value="open"]:not(:checked)
  )
  #root-menu-click-outside {
  @apply hidden;
}

#root:has(
    input[type="radio"][name="root-menu-header"][value="open"]:not(:checked)
  )
  #root-menu-outside {
  @apply hidden;
}

.root-menu-header {
  @apply transition opacity-100 ease-linear duration-500 static;
}

#root:has(input[type="radio"][name="root-menu-header"][value="open"]:checked)
  .root-menu-header {
  @apply opacity-0 absolute -z-50;
}

#root:has(
    input[type="radio"][name="root-menu-header"][value="open"]:not(:checked)
  )
  #root-container {
  padding-inline: 15%;
}

.no-focus-tw-ring:focus {
  @apply focus:ring-offset-0 focus:ring-0 focus:ring-transparent focus:ring-offset-transparent;
}

.shadow-custom {
  @apply shadow-[0_0_15px_0_rgba(0,0,0,0.5)] dark:shadow-[0_0_15px_0_rgba(255,255,255,0.5)];
}
