@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#root-menu-header {
  @apply appearance-none cursor-pointer;
}

#root:has(#root-menu-header:not(:checked)) #root-menu-outside {
  @apply absolute pl-8 flex flex-row items-center h-16 z-10;
}

#root:has(#root-menu-header:not(:checked)) #root-menu-outside > div {
  @apply gap-10;
}

#root:has(#root-menu-header:not(:checked)) #root-menu-outside > div nav {
  @apply max-md:hidden;
}

#root:has(#root-menu-header:checked) #root-menu-outside {
  @apply w-[20%] border-r;
  @apply bg-black dark:bg-white;
  @apply text-white dark:text-black;
  @apply max-md:absolute max-md:z-10 max-md:w-[50vw] max-md:h-screen;
  @apply transform duration-500;
}

#root:has(#root-menu-header:checked) #root-menu-outside > div {
  @apply flex-col items-start gap-0;
}

#root:has(#root-menu-header:checked) #root-menu-outside > div > div {
  @apply h-[65px] border-b;
}

#root:has(#root-menu-header:checked) #root-menu-outside > div div {
  @apply w-full px-3;
}

#root:has(#root-menu-header:checked) #root-menu-outside > div nav {
  @apply w-full;
}

#root:has(#root-menu-header:checked) #root-menu-outside > div ul {
  @apply flex-col gap-0;
}

#root:has(#root-menu-header:checked) #root-menu-outside > div ul > li > * {
  @apply px-4 py-2 w-full block font-bold;
  @apply hover:bg-green-400 hover:bg-opacity-30 dark:hover:bg-opacity-70;
}

#root:has(#root-menu-header:not(:checked)) #root-container {
  padding-inline: 15%;
}

.no-focus-tw-ring:focus {
  @apply focus:ring-offset-0 focus:ring-0 focus:ring-transparent focus:ring-offset-transparent;
}

.shadow-custom {
  @apply shadow-[0_0_15px_0_rgba(0,0,0,0.5)] dark:shadow-[0_0_15px_0_rgba(255,255,255,0.5)]
}
